<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServ</servlet-name>
        <servlet-class>LoginServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServ</servlet-name>
        <servlet-class>RegisterServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>rest_items</servlet-name>
        <servlet-class>rest_items</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RUpdateServ</servlet-name>
        <servlet-class>RUpdateServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CUpdateServ</servlet-name>
        <servlet-class>CUpdateServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cust_items</servlet-name>
        <servlet-class>cust_items</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ADeleteServ</servlet-name>
        <servlet-class>ADeleteServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AUpdateServ</servlet-name>
        <servlet-class>AUpdateServ</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServ</servlet-name>
        <url-pattern>/LoginServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServ</servlet-name>
        <url-pattern>/RegisterServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>rest_items</servlet-name>
        <url-pattern>/rest_items</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RUpdateServ</servlet-name>
        <url-pattern>/RUpdateServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CUpdateServ</servlet-name>
        <url-pattern>/CUpdateServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cust_items</servlet-name>
        <url-pattern>/cust_items</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ADeleteServ</servlet-name>
        <url-pattern>/ADeleteServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AUpdateServ</servlet-name>
        <url-pattern>/AUpdateServ</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
